RewriteEngine On

# Si la ressource demandée est un vrai fichier ou dossier existant, on la sert normalement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, tout est envoyé vers index.php, avec l'URL demandée en paramètre
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]